body {
    background-color: #ffffff;
}

.top {
 display: flex;
 justify-content: space-between;
}

.mid {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.knop {
 
}

.knop2 {
 
}

.bot {
 display: flex;
 border: #f2f2f2;
 background: #f2f2f2;
 height: 140px;
 color: #70757A;
 justify-content: space-between;
}

* {
 font-family: roboto;
}