body {
    background-color: #ffffff;
}

.top {
 display: flex;
 justify-content: space-between;
}

.a1 .a2 {

}

.mid {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
}

.b1 .b2{

}


.bot {
 display: flex;
 flex-direction: column;
 color: #70757A;
 align-items: stretch;
}

.c1 {
 border: #f2f2f2;
 background: #f2f2f2;
 height: 140px;
 bottom: 14px;
}

* {
 font-family: roboto;
}