body {
    background-color: #ffffff; 
    margin: 20px;
}

.all {
     display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.a1 {
    color: #202124;
    text-decoration: none;
}

.a2 {
    color: #202124;
    text-decoration: none;
}

.waffle {
    height: 19px;
    width: 20px;
}

.inloggen {
    background-color: #1a73e8;
    color: white;
    border-radius: 4px;
    text-decoration: none;
}

.mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; top: 120px;
}

.mid3{
    display: flex;
    justify-content: space-between;
}

.b1 {
    background-color: #f8f9fa;
    border-radius: 5px;
    text-align: center;
    height: 30px;
    width: 125px;
}

.b2 {
    text-decoration: none;
    background-color: #f8f9fa;
    border-radius: 5px;
    text-align: center;
    height: 30px;
    width: 125px;
}

.footer {
    left:0;
    bottom: 0;
    position: fixed;
    width: 100%; 
    background: #f2f2f2;
    height: 95px;
    font-size: 15px;
    color: #70757A;
}

.bot2 {
    display: flex;
    justify-content: space-between;
}

.bot3 {
    border: 15px;
}

.foto {
    height: 15px;
    width: 15px;
}

* {
    font-family: roboto;
    box-sizing:border-box;
}