* {
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
}

header {
 display: flex;
 text-align: center;
}

aside {
    display: flex;
}

article {
    display: flex;
}

footer {
    display: flex;
  }
  