* {
    box-sizing: border-box;
    font-family: 'Roboto Mono';
    background-color:rgb(0, 0, 0);
}

header {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
}
/* navlijst */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: sticky;
}

li {
    float:left;
}

li a {
    display: block;
    border-radius: 200px;
    padding: 8px;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color: #ffe81f;
}

li a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
/* einde navlijst */
aside {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 0px;
}

article {
    display: flex;
    flex-direction: column;
    color: #ffe81f;
}
/* afbeelding + animatie */
.tatooine {
    width: 380px;
    height: 380px;
}

.fade-in {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}
  

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
/* einde */ 
footer {
    bottom: 0;
    position: fixed;
    width: 100%; 
}

.footer {
    text-align: center;
    color: gray;
  }
  